{% extends 'app1/dummy.html' %}
{% block title %}
<title>Register</title>
{% endblock %}

{% block body_block %}

<style>
    input
    {
        border-radius: 5px;
    }
    #h,.reg
    {
        background: url('../static/images/bc.jpg') ;
        color: rgb(237, 243, 243); 
    }
    .reg>a
{
    position:absolute ;
    right: 3%;
    top: 2%;
    border: 1px solid green;
    padding: 1px 4px;
    border-radius: 50%;
    text-decoration: none;

    position:absolute ;
    right: 3%;
    top: 2%;
    border: 1px solid rgb(246, 248, 246);
    padding: 0px 6px;
    border-radius: 50%;
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-size: larger;
}
</style>
<center>
    <div class="reg" >
        <a href="{% url 'home' %}">X</a>
        <h3 class="bg-success" id="h" >Sinup</h3>
        <form  method="POST">
            {% csrf_token %}
            {{user.as_p}}
           <input type="submit" value="submit" id="regbutton">
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }} bg-danger mt-3"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</center>
{% endblock %}