.bg>div
{
	background: url('../static/images/food2.jpg') ;
    background-size: cover;
	height:100vh;
	display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}


