.upload
{
    background-color: orange;
    display: inline-block;
    padding: 30px 40px;
    margin-top: 30px;
    border-radius: 20px;
    border: 2px solid green;

}
.upload>h5
{
    color: green;
    padding: 10px;
    border: 2px black;
    border-radius: 20px 0px 20px 0px;
    background-color: black;
}
.upload>form
{
    text-align: start;
    padding: 10px 5px ;
}
.upload>form>.in
{
    background-color: rgb(11, 11, 11);
    text-align: start;
    padding: 5px;
    border-radius: 10px;
    color: brown;

}


